<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Fórum de jogos</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <img src="https://cdn.discordapp.com/attachments/1153481319330893876/1178745418457296967/image.png?ex=65774337&is=6564ce37&hm=3083939cf2f6351d143b7460f3c68b460f27c8f6ea2a883265c3ec22863040d0&" alt="">
    <h1>Games Universe</h1>
    
  </header>
  <main>
    <section class="topicos">
        <h2>Tópicos</h2>
      <ul>
        <li>
          <a href="#">Indie</a>
        </li>
        <li>
          <a href="#">RPG</a>
        </li>
        <li>
          <a href="#">FPS</a>
        </li>
        <li>
          <a href="#">Simulação</a>
        </li>
        <li>
          <a href="#">Esporte</a>
        </li>
        <li>
          <a href="#">Ação</a>
        </li>
        <li>
          <a href="#">Aventura</a>
        </li>
        <li>
          <a href="#">Horror</a>
        </li>
        <li>
          <a href="#">MOBA</a>
        </li>
        <li>
          <a href="#">Música e ritmo</a>
        </li>
        <li>
          <a href="#">Estratégia</a>
        </li>
      </ul>
    </section>

    <div class="forum">
      <section class="form">
        <div class="content-forum">
          <h2>Jogos Indie</h2>
          <p class="titulo">A Evolução dos Jogos Indie: Qual é o Futuro dos
            Desenvolvedores Independentes?</p>
          <p class="conteuto-discorrido">Olá, pessoal apaixonado por jogos!
            Os jogos indie conquistaram lugar especial na indústria de
            jogos digitais, e sua evolução ao longo dos anos é notável. NO
            entanto, o que o futuro reserva para os desenvolvedores
            independentes? Gostaria de iniciar uma discussão sobre o assunto
            e ouvir suas perspectivas.</p>

          <div class="container">
            <h1>Caixa de comentário</h1>
            <form action="/comentario" method="post">
              <div class="row">
                <div class="col-md-6">
                  <label for="nome">Nome:</label>
                  <input type="text" class="form-control" name="nome" id="nome">
                </div>
                <div class="col-md-6">
                  <label for="comentario">Comentário:</label>
                  <textarea class="form-control" name="comentario" id="comentario" rows="5"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </form>
          </div>

          <h2>Comentários</h2>
          <ul class="comentarios">
            <li><strong>Klaus</strong></li>
            <li>
               Adoro a cena indie! O futuro parece promissor com mais acessibilidade. A visibilidade será crucial para que os desenvolvedores independentes se destaquem. Mal posso esperar por mais inovações!
            </li>
            <br>

      </ul>
    </div>
    </section>
</div>
    <section class="topicos" id="topico2"></section>
  </main>

  <footer>
    <p>Copyright &copy; 2023</p>
  </footer>
</body>
</html>
